{% extends "base.html" %}
{% block title %}{{mypost.title}}{% endblock %}
{% block content %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-8 column">
			<h3 class="text-center">{{mypost.title}}</h3>
			<div class="row clearfix">
				<div class="col-md-3 column">
					<i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;{{mypost.time.strftime('%Y-%m-%d')}}
				</div>
				<div class="col-md-3 column">
					<i class="fa fa-clock-o"></i>&nbsp;&nbsp;&nbsp;{{mypost.time.strftime('%H:%M:%S')}}
				</div>
				<div class="col-md-3 column">
					<i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;{{mypost.author}}
				</div>
				<div class="col-md-3 column">
					<i class="fa fa-th-list"></i>
					<a href="../../category#{{mypost.type}}" title="Category: {{mypost.type}}" rel="Category">{{mypost.type}}</a>&nbsp;
				</div>
			</div>
			
			<hr><p>{{mypost.content|safe}}</p>
			
			{% set tag_list = mypost.tag.split('#') %}
			{% for tag in tag_list %}
			<i class="fa fa-tag"></i>
			<a href="../../tag#{{tag}}">{{tag}}</a>&nbsp;&nbsp;
			{% endfor %}<hr>
			
			<div class="post-recent">
				<div class="pre">
					<p><strong>上一篇</strong> <a href="{{last_post_url}}">{{last_post_title}}</a></p>
				</div>
				<div class="nex">
					<p><strong>下一篇</strong> <a href="{{next_post_url}}">{{next_post_title}}</a></p>
				</div>
			</div>

			<h2 id="comments">Comments</h2>
			<!--PC版-->
			<div id="SOHUCS" ></div>
			<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
			<script type="text/javascript">
			window.changyan.api.config({
			appid: 'cyt2wOIgh',
			conf: 'prod_374465985311229072316cba563f0c3e'
			});
			</script>
		</div>

		<div class="col-md-1 column"></div>
		<div class="col-md-3 column">
			<img alt="140x140" src="http://iron-flask.stor.sinaapp.com/static/qrcode_for_gh_57b47118845d_258.jpg" />
			<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;汽车ECU设计</h2><hr>
			<h3 id="dashang">支持本站</h3>
			<p><font size="4" style="box-sizing: border-box; color: rgb(51, 51, 51); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp;给站长打赏个饮料钱吧！</font><span style="box-sizing: border-box; color: rgb(51, 51, 51); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: large;"></span></p>
			<a href="../paper/12"><img src="http://iron-flask.stor.sinaapp.com/static/zhifu.jpg" /></a>
			<div class="tag_cat">
				<h2>分类目录</h2>
				{% for cat in cat_dict %}
				<li class="cat-item cat-item-3663"><a href="../../category#{{cat}}" >{{cat}}</a>({{cat_dict[cat]|length}})</li>
				{% endfor %}
				<h2>Tags</h2>
				{% for tag in tag_dict %}
				{% if tag_dict[tag]|length > 1 %}
				<a href="../../tag#{{tag}}" style="font-size: 12pt; color: #666;">{{tag}}</a>&nbsp;&nbsp;
				{% else %}
				<a href="../../tag#{{tag}}" style="font-size: 9.5pt; color: #888;">{{tag}}</a>&nbsp;&nbsp;
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{{ super() }}
{% endblock %}